* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: gainsboro;
    margin: 0;
    padding: 0;
    text-align: center;
}


/* Base styles */


.topnav {
    background-color: rgb(91, 91, 249);
    /* overflow: hidden; */
    padding: 10px 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: xx-large;
    letter-spacing: 7px;
}

.nav-links a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
}

.nav-links a:hover {
    background-color: black;
    border-radius: 50%;
}

#menu-icon {
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#disconnect-btn {
    width: 50%;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        padding: 12px;
        text-align: center;
        border-top: 1px solid #444;
    }

    #menu-icon {
        display: block;
    }
}









.container {
    max-width: 600px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.card {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

input[type="number"] {
    padding: 8px;
    margin: 10px 0;
    width: 80%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: white;
    cursor: pointer;
}